<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="margin: 0;">

    <div class="container">
        <br>
        <h1 align=center> Project </h1>
        <h1 align=center> Ban </h1>
        <hr>

        <a type="button" class="btn btn-success" href="/admin">Back</a>
        <br>
        <br>

        <!-- Table -->
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Pass word</th>
                    <th scope="col">Room</th>
                    <th scope="col">User Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            <tbody>
                {% for row in datas %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                    {% if row.3 == "x" %}
                    <td>No Room</td>
                    {% else %}
                    <td>{{ row.3 }}</td>
                    {% endif %}
                    {% if row.4 == 2 %}
                    <td>Admin</td>
                    {% elif row.4 == 1 %}
                    <td>Normal</td>
                    {% else %}
                    <td>Ban</td>
                    {% endif %}
                    <td>
                        {% if row.4 != 2 %}
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#exampleModalban{{row.0}}">Ban</button>
                        <button type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#exampleModalunban{{row.0}}">UnBan</button>
                        {% endif %}
                    </td>
                </tr>

                <!-- Ban  -->
                <form action="{{url_for('page_admin.ban_user')}}" method="POST">
                    <div class="modal" tabindex="-1" role="dialog" id="exampleModalban{{row.0}}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <input type="hidden" class="form-control" value="{{ row.0 }}" name="id">
                                    <h5 class="modal-title">Ban ID: {{row.0}}</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal"
                                        aria-label="Close"></button>
                                    </button>
                                </div>
                                <input type="text" value="{{row.0}}" name="id" hidden>
                                <input type="text" value="{{row.2}}" name="room_id" hidden>
                                <div class="modal-body">
                                    <h3>{{ row.1 }} {{ row.2 }}</h3>
                                    <p>Are you sure to Bas thissss </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger">Ban</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Unban  -->
                <form action="{{url_for('page_admin.unban_user')}}" method="POST">
                    <div class="modal" tabindex="-1" role="dialog" id="exampleModalunban{{row.0}}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <input type="hidden" class="form-control" value="{{ row.0 }}" name="id">
                                    <h5 class="modal-title">Unban ID: {{row.0}}</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal"
                                        aria-label="Close"></button>
                                    </button>
                                </div>
                                <input type="text" value="{{row.0}}" name="id" hidden>
                                <input type="text" value="{{row.2}}" name="room_id" hidden>
                                <div class="modal-body">
                                    <h3>{{ row.1 }} {{ row.2 }}</h3>
                                    <p>Are you sure to Unban thissss </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Unban</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(input).parent().find('.img-thumbnail')
                        .attr('src', e.target.result)
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

</body>

</html>